/* Your CSS here. */
body {
    text-align: center;
    color: white;
    background-color: dimgray;
    font-weight: bold;
}

img {
    width: 375px;
    height: 275px;
}

#email {
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
}

a {
    font-size: 19px;
}

#bio {
    font-size: 20px;
    text-align: left;
}